anyio==3.5.0
asgi-lifespan==1.0.1
asgiref==3.5.1
attrdict==2.0.1
attrs==21.4.0
bcrypt==3.2.2
beautifulsoup4==4.11.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
coverage==6.3.2
cryptography==37.0.2
cytoolz==0.11.2
deep-translator==1.8.3
dnspython==2.2.1
ecdsa==0.17.0
email-validator==1.2.1
eth-abi==1.3.0
eth-account==0.2.3
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.2.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
fastapi==0.74.1
feedparser==6.0.8
h11==0.12.0
hexbytes==0.2.2
httpcore==0.14.7
httpx==0.22.0
idna==3.3
iniconfig==1.1.1
lru-dict==1.1.7
motor==2.5.1
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
parsimonious==0.8.1
passlib==1.7.4
Pillow==9.1.0
pluggy==1.0.0
py==1.11.0
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.14.1
pydantic==1.9.0
pymongo==3.12.3
pyparsing==3.0.8
pytesseract==0.3.9
pytest==7.1.2
pytest-asyncio==0.18.1
pytest-cov==3.0.0
python-dotenv==0.20.0
python-jose==3.3.0
python-multipart==0.0.5
requests==2.27.1
rfc3986==1.5.0
rlp==2.0.1
rsa==4.8
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
starlette==0.17.1
tomli==2.0.1
toolz==0.11.2
typing_extensions==4.2.0
urllib3==1.26.9
uvicorn==0.17.5
web3==4.2.1
websockets==10.3
